.container {
    padding: 0 2rem;
    min-height: 800px;
}

.main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.commonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0;
}

.expenseCommonRow {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0;
}

.otherRow {
    display: table;    
    width: 100%;
    padding: 1rem 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
    font-size: 1.5rem;
}

.expenseColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2 1;
    font-size: 1.5rem;
}

.expenseColumn h3 {
    margin-bottom: 5px;
}

.mostExpensiveCostColumn {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.amznImageFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.amznImage {
    object-fit: contain;
}

.totalSpendContainer {
    text-align: center;
}

.totalSpendHeadline {
    font-size: calc((75vw - 4.5rem) / 4);
    margin: 0;
}

.totalSpendSubhead {
    font-size: calc((75vw - 4.5rem) / 9);
    margin: 0;
}

.totalSpendSubSubhead {
    font-size: calc((75vw - 4.5rem) / 15);
    margin: 0;
}

.ucFirst {
    text-transform:capitalize;
}

.floatLeft {
    float: left;
}


.table {display:block; }
.row { display:block;}
.cell {display:inline-block; vertical-align: top;}

.countColumn {
    font-size: 3.2rem;
    float: left;
}

.totalSpend {
    font-size: 1.25rem;
    margin: 0.3rem 20px auto 20px;
    float: left;
}

.headline {
    font-size: 3rem;
    height: 0.2rem;
}

.commonHeadline {
    font-size: 2rem;
    margin: 50px 0px 5px 0px;
}

.moneyzone {
    padding: 0 0 20px 20px;
    margin-top: -0.2rem;
}

.areaHead {
    font-size: 2.7rem;
    margin: 0 0 20px 0;
}

.expenseContainer {
    margin-left: 20px;
}

.expenseHeader {
    margin: 0px;
    font-size: 1.8rem;
}

.totalDivider {
    margin-top: 40px;
    margin-bottom: 40px;
}

.filterZone {
    margin-left: 20px;
}

.daypickerZone {
    margin: auto;
}