.table {
    display: table;
    border: 1px solid black;
    padding: 20px;

    .tr {
        display: table-row;
    }

    .td {
        display: table-cell;
    }

    .tdLeft {
        display: table-cell;
        padding: 10px;
        text-align: right;
    }
    
    .tdRight {
        display: table-cell;
        padding: 10px;
        text-align: left;
    }

    .divider {
        border-bottom: 1px solid black;
    }

}

@media screen and (min-width: 700px) {
    .pickerBig {
        display: block;
    }
    .pickerSmall {
        display: none;
    }
}
@media screen and (min-width: 0px) and (max-width: 699px) {
    .pickerBig {
        display: none;
        height: 0px;
    }
    
    .table {
        text-align: center;
    }
    
    .pickerSmall {
        display: block;
    }
}

